scripts/n8n-undangan-sheets-sync-v2.json
{
  "name": "n8n-undangan-sheets-sync-v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "c839514d-3c6d-4270-bbc8-771c35ffaf5d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Ambil last sync time dari Static Data\nconst staticData = $getWorkflowStaticData('global');\n\n// Jika belum pernah sync, set ke 1 minggu lalu sebagai fallback\nif (!staticData.lastSyncTime) {\n  staticData.lastSyncTime = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString().slice(0, 19).replace('T', ' ');\n}\n\nif (!staticData.lastTamuId) {\n  staticData.lastTamuId = 0;\n}\n\nif (!staticData.lastUcapanId) {\n  staticData.lastUcapanId = 0;\n}\n\nreturn [{\n  json: {\n    lastSyncTime: staticData.lastSyncTime,\n    lastTamuId: staticData.lastTamuId,\n    lastUcapanId: staticData.lastUcapanId,\n    currentTime: new Date().toISOString().slice(0, 19).replace('T', ' ')\n  }\n}];\n"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Get Last Sync State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tr_tamu\nWHERE tamuId > {{ $json.lastTamuId }}\n   OR (updated_at IS NOT NULL AND updated_at > '{{ $json.lastSyncTime }}')\nORDER BY tamuId ASC\nLIMIT 500",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [700, 180],
      "id": "27cb6de8-6810-4fec-808b-4b8c6bf53565",
      "name": "Query New/Updated tr_tamu",
      "credentials": {
        "mySql": {
          "id": "UE7SiOHgym6Vc5pE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tr_ucapan\nWHERE ucapanId > {{ $json.lastUcapanId }}\n   OR (updated_at IS NOT NULL AND updated_at > '{{ $json.lastSyncTime }}')\nORDER BY ucapanId ASC\nLIMIT 500",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [700, 420],
      "id": "f5f4d10a-144a-4288-b2ff-02f131d6e4a0",
      "name": "Query New/Updated tr_ucapan",
      "credentials": {
        "mySql": {
          "id": "UE7SiOHgym6Vc5pE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pisahkan data baru vs data yang diupdate untuk tr_tamu\nconst staticData = $getWorkflowStaticData('global');\nconst lastTamuId = staticData.lastTamuId || 0;\nconst lastSyncTime = staticData.lastSyncTime || '2000-01-01 00:00:00';\n\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { isNew: false, isUpdate: false, isEmpty: true } }];\n}\n\nconst result = items.map(item => {\n  const row = item.json;\n  const tamuId = parseInt(row.tamuId) || 0;\n  const updatedAt = row.updated_at || null;\n\n  const isNew = tamuId > lastTamuId;\n  const isUpdate = !isNew && updatedAt && updatedAt > lastSyncTime;\n\n  return {\n    json: {\n      ...row,\n      _syncType: isNew ? 'new' : 'update',\n      isEmpty: false\n    }\n  };\n});\n\nreturn result;\n"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Classify tr_tamu Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 180]
    },
    {
      "parameters": {
        "jsCode": "// Pisahkan data baru vs data yang diupdate untuk tr_ucapan\nconst staticData = $getWorkflowStaticData('global');\nconst lastUcapanId = staticData.lastUcapanId || 0;\nconst lastSyncTime = staticData.lastSyncTime || '2000-01-01 00:00:00';\n\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { isNew: false, isUpdate: false, isEmpty: true } }];\n}\n\nconst result = items.map(item => {\n  const row = item.json;\n  const ucapanId = parseInt(row.ucapanId) || 0;\n  const updatedAt = row.updated_at || null;\n\n  const isNew = ucapanId > lastUcapanId;\n  const isUpdate = !isNew && updatedAt && updatedAt > lastSyncTime;\n\n  return {\n    json: {\n      ...row,\n      _syncType: isNew ? 'new' : 'update',\n      isEmpty: false\n    }\n  };\n});\n\nreturn result;\n"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Classify tr_ucapan Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-tamu-new",
              "leftValue": "={{ $json._syncType }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Is New tr_tamu?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1180, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ucapan-new",
              "leftValue": "={{ $json._syncType }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Is New tr_ucapan?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1180, 420]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1W_QSLm-ZMRdpyEkLcNsePp3s6fcJPdWdV71uJBuIUTA",
          "mode": "list",
          "cachedResultName": "Surat Kuasa RAT 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_QSLm-ZMRdpyEkLcNsePp3s6fcJPdWdV71uJBuIUTA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 425720828,
          "mode": "list",
          "cachedResultName": "tr_tamu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_QSLm-ZMRdpyEkLcNsePp3s6fcJPdWdV71uJBuIUTA/edit#gid=425720828"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            { "id": "ucapanId", "displayName": "ucapanId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "nama", "displayName": "nama", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "namareservasi", "displayName": "namareservasi", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "alamat", "displayName": "alamat", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "ucapan", "displayName": "ucapan", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "attending", "displayName": "attending", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "jumlahtamu", "displayName": "jumlahtamu", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "nik_perwakilan", "displayName": "nik_perwakilan", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "sesi", "displayName": "sesi", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "date", "displayName": "date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7765337b-38d4-48ef-b5bf-d6b632f38974",
      "name": "Append New tr_tamu to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1440, 100],
      "credentials": {
        "googleApi": {
          "id": "jukQx2Pgz2WhuCVz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1W_QSLm-ZMRdpyEkLcNsePp3s6fcJPdWdV71uJBuIUTA",
          "mode": "list",
          "cachedResultName": "Surat Kuasa RAT 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_QSLm-ZMRdpyEkLcNsePp3s6fcJPdWdV71uJBuIUTA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 425720828,
          "mode": "list",
          "cachedResultName": "tr_tamu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_QSLm-ZMRdpyEkLcNsePp3s6fcJPdWdV71uJBuIUTA/edit#gid=425720828"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["tamuId"],
          "schema": [
            { "id": "tamuId", "displayName": "tamuId", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "ucapanId", "displayName": "ucapanId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "nama", "displayName": "nama", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "namareservasi", "displayName": "namareservasi", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "alamat", "displayName": "alamat", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "ucapan", "displayName": "ucapan", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "attending", "displayName": "attending", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "jumlahtamu", "displayName": "jumlahtamu", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "nik_perwakilan", "displayName": "nik_perwakilan", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "sesi", "displayName": "sesi", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "date", "displayName": "date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Update Changed tr_tamu in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1440, 260],
      "credentials": {
        "googleApi": {
          "id": "jukQx2Pgz2WhuCVz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1W_QSLm-ZMRdpyEkLcNsePp3s6fcJPdWdV71uJBuIUTA",
          "mode": "list",
          "cachedResultName": "Surat Kuasa RAT 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_QSLm-ZMRdpyEkLcNsePp3s6fcJPdWdV71uJBuIUTA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1884691184,
          "mode": "list",
          "cachedResultName": "tr_ucapan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_QSLm-ZMRdpyEkLcNsePp3s6fcJPdWdV71uJBuIUTA/edit#gid=1884691184"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            { "id": "ucapanId", "displayName": "ucapanId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "nama", "displayName": "nama", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "namareservasi", "displayName": "namareservasi", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "alamat", "displayName": "alamat", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "ucapan", "displayName": "ucapan", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "attending", "displayName": "attending", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "jumlahtamu", "displayName": "jumlahtamu", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "nik_perwakilan", "displayName": "nik_perwakilan", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "sesi", "displayName": "sesi", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "date", "displayName": "date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "94ffa21a-f414-4e37-80a4-23fd7804208f",
      "name": "Append New tr_ucapan to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1440, 340],
      "credentials": {
        "googleApi": {
          "id": "jukQx2Pgz2WhuCVz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1W_QSLm-ZMRdpyEkLcNsePp3s6fcJPdWdV71uJBuIUTA",
          "mode": "list",
          "cachedResultName": "Surat Kuasa RAT 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_QSLm-ZMRdpyEkLcNsePp3s6fcJPdWdV71uJBuIUTA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1884691184,
          "mode": "list",
          "cachedResultName": "tr_ucapan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_QSLm-ZMRdpyEkLcNsePp3s6fcJPdWdV71uJBuIUTA/edit#gid=1884691184"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["ucapanId"],
          "schema": [
            { "id": "ucapanId", "displayName": "ucapanId", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "nama", "displayName": "nama", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "namareservasi", "displayName": "namareservasi", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "alamat", "displayName": "alamat", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "ucapan", "displayName": "ucapan", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "attending", "displayName": "attending", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "jumlahtamu", "displayName": "jumlahtamu", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "nik_perwakilan", "displayName": "nik_perwakilan", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "sesi", "displayName": "sesi", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "date", "displayName": "date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Update Changed tr_ucapan in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1440, 500],
      "credentials": {
        "googleApi": {
          "id": "jukQx2Pgz2WhuCVz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Simpan state terbaru setelah semua berhasil\nconst staticData = $getWorkflowStaticData('global');\n\n// Ambil semua items dari kedua branch\nconst allItems = $input.all();\n\nlet maxTamuId = staticData.lastTamuId || 0;\nlet maxUcapanId = staticData.lastUcapanId || 0;\n\nfor (const item of allItems) {\n  const row = item.json;\n  if (row.tamuId && parseInt(row.tamuId) > maxTamuId) {\n    maxTamuId = parseInt(row.tamuId);\n  }\n  if (row.ucapanId && parseInt(row.ucapanId) > maxUcapanId) {\n    maxUcapanId = parseInt(row.ucapanId);\n  }\n}\n\nstaticData.lastTamuId = maxTamuId;\nstaticData.lastUcapanId = maxUcapanId;\nstaticData.lastSyncTime = new Date().toISOString().slice(0, 19).replace('T', ' ');\n\nreturn [{ json: {\n  saved: true,\n  lastTamuId: staticData.lastTamuId,\n  lastUcapanId: staticData.lastUcapanId,\n  lastSyncTime: staticData.lastSyncTime\n}}];\n"
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Save Sync State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Last Sync State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Sync State": {
      "main": [
        [
          {
            "node": "Query New/Updated tr_tamu",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query New/Updated tr_ucapan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query New/Updated tr_tamu": {
      "main": [
        [
          {
            "node": "Classify tr_tamu Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query New/Updated tr_ucapan": {
      "main": [
        [
          {
            "node": "Classify tr_ucapan Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify tr_tamu Records": {
      "main": [
        [
          {
            "node": "Is New tr_tamu?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify tr_ucapan Records": {
      "main": [
        [
          {
            "node": "Is New tr_ucapan?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New tr_tamu?": {
      "main": [
        [
          {
            "node": "Append New tr_tamu to Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Changed tr_tamu in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New tr_ucapan?": {
      "main": [
        [
          {
            "node": "Append New tr_ucapan to Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Changed tr_ucapan in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append New tr_tamu to Sheets": {
      "main": [
        [
          {
            "node": "Save Sync State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Changed tr_tamu in Sheets": {
      "main": [
        [
          {
            "node": "Save Sync State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append New tr_ucapan to Sheets": {
      "main": [
        [
          {
            "node": "Save Sync State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Changed tr_ucapan in Sheets": {
      "main": [
        [
          {
            "node": "Save Sync State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3123e86f-977f-4c66-bc2e-35ec24c193ae-v2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "926cf3bd2cc880a15d005efcaa251497d458eaf476251fce18927f1253554ebf"
  },
  "id": "02RWogTkDxuxkDU9",
  "tags": []
}
